
html{
	scroll-behavior: smooth;	
}
body{
	font-family: 'Playfair Display', serif;
}
html.lock{
	overflow: hidden;	
}
.container{
	max-width: 1800px;
	margin:0 auto;
}
@media (max-width: 1850px){
	.container{max-width: 95vw;}
}
nav{
	background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	width: 100vw;	
}
h2,h3,h4,h5{
	text-align: center;
	font-weight: 700;	
	padding:20px 0;	
}
h2{
	font-size: 2em;
	text-transform: uppercase;
	color: #e8ba65;	
}
@media (max-width: 500px){
	h2{
		font-size: 1.5em;
	}
}
h3{
	font-size: 1.5em;
	color: #e8ba65;
}
h4{
	font-size: 1.2em;
}
footer{
	background-color:black;
	color:white;
	padding-top:10px;
	font-family: 'Rubik', sans-serif;
}
a{
	text-decoration: none;
	color:inherit;	
}
p{
	text-align: justify;
	padding: 5px 0;
}
iframe{
	width: 100%;
}

/*MENU*/


.menu-items{
	display: flex;
	flex-flow: row nowrap;
	text-align: center;
	align-items: center;
	justify-content: space-around;
	color: #e8ba65;
	text-transform: uppercase;
	padding: 10px;	
	font-size: 1.1em;	
}
.menu-items a:hover {
	color: white;
	display: block;
	transition: all 0.5s ease;
	transform: scale(1.1,1.1);
}
.menu-item{
	font-weight: 700;
}
.logo-anim img{
	height: 18vh;
}
.small-display{
	display: none;
}
.decor,.decor-down{
	width: 100%;	
	display: flex;
	justify-content: center;
	padding-top:20px; 
}
.decor-down{
	transform: rotate(180deg);
}
@media (max-width: 800px){	
	.large-display{display: none;}
	.small-display{display: inline-block;}
	.menu-mobile{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		position: fixed;
		background: rgba(0,0,0,0.9);
		width: 100vw;
		margin-left: -2.5vw;		
		align-items: center;
		z-index: 10;
	}
	.logo-anim-sm img{
		height: 90px;
		padding:10px 0 0 5px;
	}
	h2.logo-sm{
		padding: 0 0 0 10px;
	}
	.mobile-icons{
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
	}
	.mobile-icons .phone{
		width:55px;
		height:55px;
		display: flex;
		align-items: center;
		justify-content: flex-end;		
	}
	.mobile-icons .fa-phone-alt{
		height: 26px;
		color: #e8ba65;
		transition: all .5s ease; 
	}
	.mobile-icons .fa-phone-alt:hover{
		color: white;
	}
	.burger{
		width: 85px;		
		overflow: hidden;
	}
	svg .burger-menu{
	  position: fixed;
	  top: 50%;
	  left: 50%;
	  -webkit-transform: translate(-50%, -50%);
	          transform: translate(-50%, -50%);
	  cursor: pointer;
	  width: 350px;
	  height: 200px;
	}
	.burger-menu path{
	  stroke-width: 10;
	  stroke-linecap: round;
	  stroke: #e8ba65;
	  fill: none;
	  -webkit-transition: all .5s ease-in-out;
	  transition: all .5s ease-in-out;  
	}
	.burger-menu:hover  path{
		stroke: white;
	}
	/* In menu form */
	.top_bar,
	.bottom_bar{
	  stroke-dasharray: 240px 910px;
	}
	.middle_bar{
	  stroke-dasharray: 240px 240px;
	}
	 /*In cross form */
	.open .top_bar,
	.open .bottom_bar{
	  stroke-dashoffset: -650px;
	}
	.open .middle_bar{
	  stroke-dasharray: 0px 220px;
	  stroke-dashoffset: -120px;
	}
	.menu-items{
		flex-direction: column;
		position: fixed;		
		background-color:rgba(0, 0, 0, .95);		
		width: 100%;
		right: -100%;		
		height: 100%;
		transition: all 0.5s ease;
		z-index: 2;
		padding: 35% 25px 10%;		
	}
	.menu-items.open{
		right: 0;
	}
	.contacts-mobile{
		display: flex;
		flex-direction: column;
		font-size: 1em;
		text-transform: none;
		align-items: center;
		justify-content: center;
		color:white;
		padding-top: 25px;
		font-family: 'Rubik', sans-serif;
	}
	.contacts-mobile .telephones{
		display: flex;
		flex-direction: row;
		padding: 10px 0 5px;
	}
}
@media (max-width: 1200px){
	.decor img,.decor-down img{max-width: 150px;}
}
@media (max-width: 550px){
	.decor,.decor-down{display: none;}
	h2{padding-top: 50px;}
}




/*SECTION GENERAL*/

#general{	
	height: 100vh;
	background-image: url(../img/background_general_01.jpg);	
	background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.text-general{
	height: 60vh;
	display: flex;
	justify-content: flex-end;	
}
.text-general-container{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-direction: column;
	color: #e8ba65;
	padding: 0 20px;
	font-size: 1.5em;
}
.text-general p{
	text-align: right;
}
.btn{
	border:2px solid #e8ba65;
	padding: 10px 25px;
	text-transform: uppercase;
	margin-top: 10px;
	border-radius: 5px;
	transition: all 0.3s ease;
	animation: sbs-anim-rec 1.1s infinite linear 0.000001s;
	backface-visibility: hidden;
}
@keyframes sbs-anim-rec{
	0% {
    -moz-box-shadow: 0 0 0 0 rgba(232,186,101, 0.8);
    box-shadow: 0 0 0 0 rgba(232,186,101, 0.8);
  }
  70% {
      -moz-box-shadow: 0 0 0 15px rgba(0,0,0, 0);
      box-shadow: 0 0 0 15px rgba(0,0,0, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(0,0,0, 0);
      box-shadow: 0 0 0 0 rgba(0,0,0, 0);
  }

}
.btn:hover{
	background-color:#e8ba65;
	color: white;
}
.decor-border{
	position: absolute;
	right: 2vw;
	bottom: 2vw;
	opacity: 0.3;
}
@media (max-width: 800px){
	#general{		
	background-position: right;
	}	
	.text-general{
		height: 100vh;
		justify-content: center;
		padding:20vh 5vw 15vh;
		/*align-items: flex-end;*/
	}
	.text-general-container{	
	width: 100%;		
		align-items: center;		
		font-size: 1em;
	}
	.logo-img{
		padding-bottom: 15vw;
		max-width: 250px; 
	}	
	.btn{
	background-color:#e8ba65;
	color:black;
	font-weight: 700;

	}
	.btn:hover{
		background-color:transparent;
		color:#e8ba65;
		filter: drop-shadow(0 0 0.75rem #e8ba65);
	}
	.decor-border{
		display: none;
	}

}



/*SECTION ABOUT US*/

#gallery{	
	min-height: 100vh;
	margin-bottom: 5vh;	
}
.about-us-container{
	display: flex;
	flex-direction: column;
}
.about-us-text{
	padding:10% 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, 10vh);
  grid-gap: 1rem; 
} 
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
} 
.gallery__item{
	position: relative;
}
.gallery__item_text{
	position: absolute;
	opacity: 0;
	transition: all 0.8s ease;
	background-color: rgba(0,0,0,0.8);
	display: flex;
	align-items: center;	
	width: 100%;
	height: 100%;
	justify-content: center;
	color: #e8ba65;
	font-size: 120%;
	padding: 35px;
	text-align: center;
	padding: 15px;
}
.gallery__item:hover .gallery__item_text{
	opacity:1;	
}
.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3; 
} 
.gallery__item--2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;  
} 
.gallery__item--3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;  
} 
.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end:2;
  grid-row-start: 3;
  grid-row-end: 7;
} 
.gallery__item--5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 6;
} 
.gallery__item--6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 8;  
}
.gallery__item--7 {
  grid-column-start:1;
  grid-column-end: 2;
  grid-row-start: 7;
  grid-row-end: 10;  
}
.gallery__item--8 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 10;  
}
.gallery__item--9 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end: 10;  
}
@media (max-width: 600px){
	.gallery {  
	  grid-template-columns: repeat(2, 1fr);
	  grid-template-rows: repeat(8, 10vh);
	  grid-gap: 0.5rem; 
	} 
	.gallery__item--1 {
	  grid-column-start: 1;
	  grid-column-end: 2;
	  grid-row-start: 1;
	  grid-row-end: 3; 
	} 
	.gallery__item--2 {
	  grid-column-start: 2;
	  grid-column-end: 3;
	  grid-row-start: 1;
	  grid-row-end: 4;  
	} 
	.gallery__item--3 {
	  grid-column-start: 1;
	  grid-column-end: 2;
	  grid-row-start: 3;
	  grid-row-end: 6;  
	} 
	.gallery__item--4 {
	  grid-column-start: 2;
	  grid-column-end:3;
	  grid-row-start: 4;
	  grid-row-end: 7;
	} 
	.gallery__item--5 {
	  grid-column-start: 1;
	  grid-column-end: 2;
	  grid-row-start: 6;
	  grid-row-end: 9;
	} 
	.gallery__item--6 {
	  grid-column-start: 2;
	  grid-column-end: 3;
	  grid-row-start: 7;
	  grid-row-end: 9;  
	}
	.gallery__item--7,
	.gallery__item--8,
	.gallery__item--9 {
	  display: none; 
	}
}





/*SECTION MENU*/

#section-menu{
	padding-top:20px 0;
	min-height: 100vh;	
	display: flex;
	align-items: center; 
	background-color: #fce3b5;
}
.all{
	margin: 0 auto 70px;
	width: 80%;
}
@media (max-width: 600px)
	{.all{width: 100%;}
}
#slider { /*положение слайдера*/
    position: relative;
	text-align: center;
    top: 10px;
    margin: 0 auto;
}
#slides article{ /*все изображения справа друг от доруга*/
	width: 16.6%;
	float: left;
}
#slides .image{ /*устанавливает общий размер блока с изображениями*/
	width: 600%;
	line-height: 0;
}
#overflow{ /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}
.menu-slide{
	display: flex;
	flex-direction: row nowrap;		
	padding: 15px;	
}
.menu-slide-container{
	display: flex;
	flex-direction: row nowrap;		
	
	border-radius: 25px;
	padding: 20px 35px;
	background-color: white;
}
@media (max-width: 600px){.menu-slide-container{	
	padding: 5px 15px;
	}
}
.menu-image{
	display: flex;
	flex:1 1 50%;
	align-items: center;	
}
.menu-image img{
	max-width: 30vw;
}
@media (max-width: 1000px){
	.menu-image img{max-width: 90vw;}
}
.menu-text{
	flex:1 1 50%;
	padding:20px 35px;
	display: flex;
	flex-direction: column;
	line-height: normal;
}
.menu-text h3{
	padding: 0;
}
.menu-slide img{ /*размер изображений слайдера*/
	width: 100%;
}
#desktop:checked ~ #slider{ /*размер всего слайдера*/
	max-width: 960px; /*максимальнная длинна*/
}
/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(6), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4),
#switch6:checked ~ #controls label:nth-child(5){
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23e8ba65' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    
    float: left;
	margin: 0 0 0 -84px; /*сдвиг влево*/
	display: block;
	height: 30px;
	width: 30px;
}
@media (max-width: 720px){
	#switch1:checked ~ #controls label:nth-child(6), 
	#switch2:checked ~ #controls label:nth-child(1),
	#switch3:checked ~ #controls label:nth-child(2),
	#switch4:checked ~ #controls label:nth-child(3),
	#switch5:checked ~ #controls label:nth-child(4),
	#switch6:checked ~ #controls label:nth-child(5){
		background-position: center;    
    	background-size: cover;
		margin: 0 0 0 -30px; /*сдвиг влево*/
		height: 20px;
		width: 20px;
	}
}
/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(6),
#switch6:checked ~ #controls label:nth-child(1){
	background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23e8ba65' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); /*заливка фона картинкой без повторений*/
	float: right;
	margin: 0 -84px 0 0; /*сдвиг вправо*/
	display: block;
	height: 30px;
	width: 30px;
}
@media (max-width: 720px){
	#switch1:checked ~ #controls label:nth-child(2), 
	#switch2:checked ~ #controls label:nth-child(3),
	#switch3:checked ~ #controls label:nth-child(4),
	#switch4:checked ~ #controls label:nth-child(5),
	#switch5:checked ~ #controls label:nth-child(6),
	#switch6:checked ~ #controls label:nth-child(1){
		background-position: center;    
    	background-size: cover;
		margin: 0 -30px 0 0; /*сдвиг вправо*/		
		height: 20px;
		width: 20px;
	}
}
.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}
/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
	margin-left: 0;
}
#switch2:checked ~ #slides .image{
	margin-left: -100%;
}
#switch3:checked ~ #slides .image{
	margin-left: -200%;
}
#switch4:checked ~ #slides .image{
	margin-left: -300%;
}
#switch5:checked ~ #slides .image{
	margin-left: -400%;
}
#switch6:checked ~ #slides .image{
	margin-left: -500%;
}
#controls{ /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}
#active label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 15px;
	height: 15px;
	background: #bbb;
}
#active{ /*расположение блока с переключателями*/
	margin: 23% 0 0;
	text-align: center;
}
#active label:hover{ /*поведение чекбокса при наведении*/
	background: #76c8ff;
	border-color: #777 !important; /*выполнение в любом случае*/
}
/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5),
#switch6:checked ~ #active label:nth-child(6){
	background: #e8ba65;
	border-color: #e8ba65 !important;
}
#slides .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
#controls label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}
#controls label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}
@media (max-width: 1000px){
	.menu-slide-container{
	flex-direction: column;
	align-items: center;
	}	
	.menu-text{
		width: 100%;
		font-size: 80%;		
	}	
	#active{ 
	margin: 0;
	}
	#controls{
		display: none;
	}
}
@media (max-width: 500px){	
	#active{ 
	margin: 5% 0 0;
	}
	.menu-text{
		padding: 20px 15px;
	}
	.menu-text h4{
		padding: 5px 0;
	}	

}


/*SECTION review*/

#viewport {
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}
#slidewrapper {
    position: relative;
    width: calc(100% * 4);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}
#slidewrapper, #slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}
.slide-container {
    width: calc(100%/4);
    list-style: none;
    display: inline;
    float: left;
}
.mySlides{
	height:80vh;  
	min-width: 100vw;		
}
.slide-container{
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.slide-container:nth-child(1){
	background-image: url(../img/client.jpg);	
}
.slide-container:nth-child(2){
	background-image: url(../img/client_02.jpg);	
}
.slide-container:nth-child(3){
	background-image: url(../img/client_03.jpg);	
}
.slide-container:nth-child(4){
	background-image: url(../img/client_02.jpg);	
}
h2.review-title{padding-top: 0;}
.slide{	
	display: flex;
	flex-direction: column;
	margin:45vh 15% 0 15%;
	padding: 20px 60px 40px;
	align-items: center;
	background-color: rgba(0,0,0,.5);
	color: white;
}
@media (max-width: 768px){
	.slide{
		margin-bottom: 30vh;
		padding: 20px 25px 30px;
	}
	.slide p{
		font-size: 80%;
	}
	.slide h2{
		font-size: 120%;
	}
}
#nav-btns {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin: 3px;
}

.slide-nav-btn:hover {
    cursor: pointer;
}





/*SECTION questions*/

#questions{
	
    padding: 40px 0;
}
#questions h2{
	color: black;
}
.accordeon{
	width: 100%;
	padding-bottom:20px;
}
.accordeon-header{
	height: 8vh;
	border-radius: 5px;
}
@media (max-width: 1000px){
	.accordeon-header{height: 10vh;}
}
h4.accordeon-header{
	display: flex;
	align-items: center;	
	font-size: 1.1em;
	padding: 15px 30px;
	background-color:#e5a630;
	color: white;
	margin: 10px 0;
	transition: all 0.3s ease;
	
}
.accordeon-header:hover,.accordeon-header.in{
	transform: scale(1.02,1.1);
	background-color:#e8ba65;
}
.user,.wine-bottle,.users,.camera{
	padding-right: 10px;
	width: 40px;
}
.accordeon-content{
	display: none;
	background-color:white;	
	padding: 2vh;
	margin: 10px;	
}
.accordeon-content.in{
	display:flex;
}
.accordeon-content-container{
	display: flex;
	flex-flow: row nowrap;
	align-items:  center;
}
.accordeon-text{
	padding:10px 25px 10px 15px;
}
.accordeon-header svg{
	animation-name: swing;
	animation-duration: 1.5s;
	animation-iteration-count:infinite;
}
@keyframes swing { 
  	20% { transform: rotate(15deg); } 
  	40% { transform: rotate(-10deg); } 
  	60% { transform: rotate(5deg); } 
  	80% { transform: rotate(-5deg); } 
  	100% { transform: rotate(0deg); } 
} 
.in svg{
	animation-iteration-count:0;
}









/*SECTION contacts*/

.map{
	min-height: 30vh;
	background-color: black;
	/*padding-top: 20px;*/
}


/*FOOTER*/

.contacts{
	display: flex;
	flex-flow: row wrap;
	padding: 20px 0;
	margin:5px 0;
	
	border-top:1px solid white;
	border-bottom:1px solid white; 
	padding-left: 12vw;
}
.contacts a{
	transition: all 0.5s ease;
	color: white;
}
.contacts a:hover{
	color:#e8ba65;
}
.contacts-container{
	display: flex;
	flex-direction: row;
}
.contacts-title{	
	color:#e8ba65;
	font-size: 1.2em;
}
.appraisal{
	display: flex;
	flex-direction: row;
	font-size: 2.5em;
	align-items: flex-end;
}
.stars{
	display: flex;
	flex-direction: row;
	padding: 0 0 10px 10px;
}
.stars svg{
	height: 20px;
}
.time{
	padding: 0;
}
.fa-phone-alt,.map-marker{
	height: 15px;
	padding-right: 4px;	
}
.telephones,.socicons,.location{
	display: flex;
	flex-flow: column;	
	padding-left: 40px;
}
.icons{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;	
}
.icon{
	color:white;
	font-size: 2.5em;
	margin:0 10px;	
}
.fa-instagram,.fa-facebook-square{
	height: 30px;
}
.icon:last-child{
	margin-right: 0;
}
.copyright{
	text-align: center;
	font-size: 0.9em;
	padding-bottom: 5px;
}
.web-design-for-you{
	color:#e8ba65;
}
@media (max-width: 1200px){
	.contacts{
		justify-content: space-between;
	}
	.contacts-container{
		flex-direction: column;		
	}
	.telephones{
		text-align: right;
		align-items: flex-end;		
	}
	.location{
		padding-left: 0;
	}
	.contacts{
		justify-content: flex-end;
	}
}

@media (max-width: 650px){	
	.contacts{		
		flex-direction: column;
		font-size: 90%;
		padding-left: 0;
	}
	.contacts-container{		
		align-items: center;
		justify-content: center;
	}
	.appraisal{
		justify-content: center;
	}
	.location{
		display: none;
	}
	.contacts-title{
		text-align: center;		
	}
	.telephones,.socicons{
		width: 100%;
		padding: 0;
		text-align: center;
		align-items: center;
	}
	
}




/*ring*/

.ring{	
	position:fixed;
	bottom:30px;
	left:180px;	
	z-index: 1;
}
.img-circle{
	background-color:#d3593d;
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
	transition: all 0.5s ease;
}
.ring:hover .img-circle{
	background-color:#d5270e;
}
.circlephone{
	box-sizing:content-box;-webkit-box-sizing:content-box;
	border: 2px solid #d3593d;
	width:150px;
	height:150px;
	bottom:-25px;
	right:10px;
	position:absolute;-webkit-border-radius:100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-animation: circle-anim 2.4s infinite ease-in-out !important;
	-moz-animation: circle-anim 2.4s infinite ease-in-out !important;
	-ms-animation: circle-anim 2.4s infinite ease-in-out !important;
	-o-animation: circle-anim 2.4s infinite ease-in-out !important;
	animation: circle-anim 2.4s infinite ease-in-out !important;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;transition: all 0.5s;
}
.circle-fill{
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
	background-color:#d3593d;
	width:100px;
	height:100px;
	bottom:0px;
	right:35px;
	position:absolute;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	border: 2px solid transparent;
	-webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;
	-moz-animation: circle-fill-anim 2.3s infinite ease-in-out;
	-ms-animation: circle-fill-anim 2.3s infinite ease-in-out;
	-o-animation: circle-fill-anim 2.3s infinite ease-in-out;
	animation: circle-fill-anim 2.3s infinite ease-in-out;
	-webkit-transition: all .5s;-moz-transition: all .5s;
	-o-transition: all .5s;transition: all 0.5s;
}
.img-circle{
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
	width:72px;
	height:72px;
	bottom: 14px;
	right: 49px;
	position:absolute;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	border: 2px solid transparent;
}
.img-circleblock{
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
	width:72px;
	height:72px;
	background-image:url(../img/phone.png);
	background-position: center center;
	background-repeat:no-repeat;
	animation-name: tossing;
	-webkit-animation-name: tossing;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
@keyframes pulse {0% {transform: scale(0.9);opacity: 1;}
  50% {transform: scale(1); opacity: 1; }   
  100% {transform: scale(0.9);opacity: 1;}}
@-webkit-keyframes pulse {0% {-webkit-transform: scale(0.95);opacity: 1;}
  50% {-webkit-transform: scale(1);opacity: 1;}   
  100% {-webkit-transform: scale(0.95);opacity: 1;}}
@keyframes tossing {
  0% {transform: rotate(-8deg);}
  50% {transform: rotate(8deg);}
  100% {transform: rotate(-8deg);}}
@-webkit-keyframes tossing {
  0% {-webkit-transform: rotate(-8deg);}
  50% {-webkit-transform: rotate(8deg);}
  100% {-webkit-transform: rotate(-8deg);}}
@-moz-keyframes circle-anim {
  0% {-moz-transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;-moz-opacity: .1;-webkit-opacity: .1;-o-opacity: .1;}
  30% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;-moz-opacity: .5;-webkit-opacity: .5;-o-opacity: .5;}
  100% {-moz-transform: rotate(0deg) scale(1) skew(1deg);opacity: .6;-moz-opacity: .6;-webkit-opacity: .6;-o-opacity: .1;}}
@-webkit-keyframes circle-anim {
  0% {-webkit-transform: rotate(0deg) scale(0.5) skew(1deg);-webkit-opacity: .1;}
  30% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);-webkit-opacity: .5;}
  100% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);-webkit-opacity: .1;}}
@-o-keyframes circle-anim {
  0% {-o-transform: rotate(0deg) kscale(0.5) skew(1deg);-o-opacity: .1;}
  30% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);-o-opacity: .5;}
  100% {-o-transform: rotate(0deg) scale(1) skew(1deg);-o-opacity: .1;}}
@keyframes circle-anim {
  0% {transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;}
  30% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;}
  100% {transform: rotate(0deg) scale(1) skew(1deg);
opacity: .1;}}
@-moz-keyframes circle-fill-anim {
  0% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {-moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);opacity: .2;}
  100% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-webkit-keyframes circle-fill-anim {
  0% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;  }
  50% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;  }
  100% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-o-keyframes circle-fill-anim {
  0% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {-o-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
  100% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@keyframes circle-fill-anim {
  0% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
  100% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@media (max-width: 800px){
	.ring{display: none;}
}






/*button UP*/

.up{
	width: 72px;
	height: 72px;
	background-color: #e8ba65;
	border-radius: 50%;
	text-align: center;
	position: fixed;
	right: 2.5vw;
	bottom: 45px;
	transition: all .5s ease;
	z-index: 1;
	border-color: transparent;
	opacity: 0.5;
	display: none;
	padding-top:18px; 
}
.up-show{
  display: block;
}
@media (max-width: 800px){
	.up-show{display: none;}
}
.up svg{
	width: 36px;
	height: 36px;
	color: white;
}
.up:hover{
	opacity: 1;
}